name: Build and publish to PyPI

on: push

jobs:
  build-and-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@master
    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools wheel build twine
    - name: Set output version
      id: version
      run: |
        TAG_NAME=${{ github.event.release.tag_name }}
        if [ -z "${TAG_NAME}" ]
        then
            echo "::set-output name=version::development"
        else
            echo "::set-output name=version::${{ github.event.release.tag_name }}"
        fi
    - name: Build
      env:
        DH_IB_VERSION: ${{ steps.version.outputs.version }}
      run: |
        python -m build
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
#        name: Artifacts
#        path: |
#          dist/*
        name: whls
        path: deephaven_ib-development-py3-none-any.whl
#TODO: publish
#    - name: Publish
#      if: xxxx
#      python -m twine upload --repository testpypi dist/*

        
